{% extends "myop_app/base.html" %}

{% block title %} Home {% endblock %}

{% block brand %} MyOp {% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
{% endblock %}


{% block navoption %}
<li><a href="">Contact Us</a></li>

{% endblock %}

{% block body %}
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}

</form>
{% endblock %}